# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Kubernetes secrets
*-secret.yaml
kubeconfig

# Node
node_modules/
.env

# OS
.DS_Store

# Terraform vars (nooit vergeten!!)
terraform/terraform.tfvars

# Terraform crash logs
crash.log
crash.*.log

# Generated kubeconfig
*.kubeconfig
